head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1")
    link(rel="stylesheet",type="text/css",href="vendor/normalize-css/normalize.css")
     //- swiper
    link(href="vendor/swiper/dist/css/swiper.min.css",rel="stylesheet")
    link(href="styles/animate.min.css",rel="stylesheet")
    link(rel="stylesheet",type="text/css",href="styles/index.css")