.swiper-slide.preload.box1(data-hash="slide1")
    //标题
    .title.reset-width.reset-margin-top
        img.title-top.ani.reset-margin-top(src="images/page1/title-top.png",swiper-animate-effect="zoomIn",swiper-animate-duration=".5s",swiper-animate-delay=".59s")
        img.title-middle.ani.reset-margin-top(src="images/page1/title-middle.png",swiper-animate-effect="bounceIn",swiper-animate-duration=".5s",swiper-animate-delay=".69s")
        img.title-bottom.ani.reset-margin-top(src="images/page1/title-bottom.png",swiper-animate-effect="fadeIn",swiper-animate-duration=".5s",swiper-animate-delay=".79s")

    include ../includes/arrow-down.pug
