.swiper-slide.preload.box3(data-hash="slide3")
    //title
    img.title-top.justify-center.reset-top.ani(src="images/page3/devhis.png",swiper-animate-effect="slideInDown",swiper-animate-duration=".5s",swiper-animate-delay=".49s")
    .devhis-box.justify-center.reset-top
        img.bg-broken.justify-center.reset-top.ani(src="images/page3/broken.png",swiper-animate-effect="flip",swiper-animate-duration="1s",swiper-animate-delay="0")
        .show-his.justify-center
            img.his-first.reset-top.ani(src="images/page3/2014-t.png",swiper-animate-effect="slideInLeft",swiper-animate-duration="1s",swiper-animate-delay="0.19")
            img.his-first-txt.reset-top.ani(src="images/page3/2014-in.png",swiper-animate-effect="slideInRight",swiper-animate-duration="1s",swiper-animate-delay="0.29")
            img.his-second.reset-top.ani(src="images/page3/2015-t.png",swiper-animate-effect="slideInRight",swiper-animate-duration="1s",swiper-animate-delay="0.39")
            img.his-second-txt.reset-top.ani(src="images/page3/2015-in.png",swiper-animate-effect="slideInLeft",swiper-animate-duration="1s",swiper-animate-delay="0.49")
            img.his-third.reset-top.ani(src="images/page3/2016-t.png",swiper-animate-effect="slideInLeft",swiper-animate-duration="1s",swiper-animate-delay="0.59")
            img.his-third-txt.reset-top.ani(src="images/page3/2016-in.png",swiper-animate-effect="slideInRight",swiper-animate-duration="1s",swiper-animate-delay="0.69")
            img.his-fourth.reset-top.ani(src="images/page3/coop-t.png",swiper-animate-effect="slideInRight",swiper-animate-duration="1s",swiper-animate-delay="0.79")
    include ../includes/arrow-down.pug

