.swiper-slide.preload.box7(data-hash="slide7")
    //title
    img.title-top.reset-margin-top.ani(src="images/page7/joinus.png",swiper-animate-effect="bounceIn",swiper-animate-duration=".5s",swiper-animate-delay=".49s")
    //手指
    img.finger.reset-margin-top.ani(src="images/page7/finger.png",swiper-animate-effect="rollIn",swiper-animate-duration=".5s",swiper-animate-delay=".59s")
    //共同成长
    img.glowup.reset-margin-top.ani(src="images/page7/glowup.png",swiper-animate-effect="fadeIn",swiper-animate-duration=".5s",swiper-animate-delay=".69s")
    //需要
    img.need.reset-margin-top.ani(src="images/page7/need.png",swiper-animate-effect="fadeIn",swiper-animate-duration=".5s",swiper-animate-delay=".79s")
    //更多
    a.linkmore(href="http://vita.51jrq.com/vita/company/830015")
        img.lookmore.reset-margin-top.ani(src="images/page7/more.png",swiper-animate-effect="fadeIn",swiper-animate-duration=".5s",swiper-animate-delay=".79s")
    //特制
    img.made51.reset-margin-top.ani(src="images/page7/made51.png",swiper-animate-effect="fadeIn",swiper-animate-duration=".5s",swiper-animate-delay=".79s")
