//Created by lollipop 2017/11/21


//水平居中
.justify-center {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}

//居中
.vertical-center {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}





