.box7 {
  img {
    display: block;
    margin: 0 auto;
  }
  .title-top {
    height: px2rem(130px);
    width: px2rem(693px);
    margin-top: 102px;
  }
  .finger {
    height: px2rem(334px);
    width: px2rem(371px);
    margin-top: 72px;
  }
  .glowup {
    height: px2rem(31px);
    margin-top: 59px;
  }
  .need {
    height: px2rem(24px);
    margin-top: 29px;
  }
  .lookmore {
    height: px2rem(35px);
    margin-top: 71px;
  }
  .made51 {
    height: px2rem(46px);
    margin-top: 195px;
  }
}
